In [1]:
import numpy as np 
import pandas as pd

In [3]:
df = pd.read_csv("C:\\Users\\javig\\Downloads\\solution.csv")

In [4]:
df

            id   days
0       314114  71-80
1       208989  41-50
2       305872  11-20
3       266099  11-20
4        13228  21-30
...        ...    ...
133739  318155  31-40
133740  144850  11-20
133741  180676  51-60
133742   39933  21-30
133743  116673  31-40

[133744 rows x 2 columns]