# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [24]:
import random
lista_1 = pd.Series(np.random.randint(1,5,100, dtype="l"))
lista_2 = pd.Series(np.random.randint(1,4,100, dtype="l"))
lista_3 = pd.Series(np.random.randint(1,5,100, dtype="l"))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [8]:

series = pd.concat([lista_1, lista_2, lista_3], axis=1)
series

    0  1  2
0   3  2  3
1   2  1  4
2   2  3  3
3   1  3  1
4   1  2  2
.. .. .. ..
95  1  1  3
96  1  1  3
97  3  2  1
98  4  3  2
99  3  2  4

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [17]:
series.rename(columns={0:"bedrs", 1:"bathrs", 2:"price_square_meter"},inplace= True)
series

    bedrs  bathrs  price_square_meter
0       3       2                   3
1       2       1                   4
2       2       3                   3
3       1       3                   1
4       1       2                   2
..    ...     ...                 ...
95      1       1                   3
96      1       1                   3
97      3       2                   1
98      4       3                   2
99      3       2                   4

[100 rows x 3 columns]

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [26]:
frames = pd.concat([lista_1, lista_2, lista_3], axis=0)
bigcolum = pd.DataFrame(frames)
bigcolum

    0
0   3
1   2
2   2
3   1
4   4
.. ..
95  1
96  1
97  2
98  4
99  2

[300 rows x 1 columns]

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [27]:

len(bigcolum)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [29]:
bigcolum.reset_index(drop= True, inplace=True)
bigcolum

     0
0    3
1    2
2    2
3    1
4    4
..  ..
295  1
296  1
297  2
298  4
299  2

[300 rows x 1 columns]