1. 

(X_train=80%)
(X_test=20%)

A partir del archivo "iris.csv" que se corresponde con datos relacionados con tres tipos de plantas (el target es el tipo de planta):

- Mediante regresión logística, predice qué planta se corresponde con los ejemplos: [[15.7,2.8,9.5,0.1]] y [[1.7,3.8,4.5,11.3]]
- ¿Qué acierto tiene tu modelo? (score)
- Utiliza un conjunto de test con el 40% de los datos: ¿cambian los resultados anteriores? ¿por qué?
- Elimina la clase "Virginica" de tus datos. Repite el proceso anterior, ¿cambian los resultados?
- ¿Consideras la regresión logística un buen algoritmo para estos datos? ¿por qué?

In [32]:
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn.metrics import r2_score, mean_absolute_error
from sklearn import datasets

In [33]:
df = pd.read_csv("C:\\Users\\javig\\OneDrive\\Documents\\Bootcamp\\The_Bridge_Javier\\BootCamp_JGAF\\week8\\day5\\data\\iris.csv")
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [34]:
X=  np.array(df.drop(['variety'], 1))
y =np.array(df['variety'])
print(X.shape)
y.shape

(150, 4)

(150,)

In [45]:
from sklearn.model_selection import train_test_split
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=100)

In [36]:
model = linear_model.LogisticRegression()
model.fit(X,y)

LogisticRegression()

In [37]:
seed= 10

In [46]:
# test size 0.2
name='Logistic Regression'
kfold = model_selection.KFold(n_splits=10, shuffle= True, random_state=seed) 
cv_results = model_selection.cross_val_score(model, X_train, y_train, cv=kfold, scoring='accuracy')
msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
print(cv_results)
print(msg)

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
Logistic Regression: 1.000000 (0.000000)

In [38]:
#test size 0.4
name='Logistic Regression'
kfold = model_selection.KFold(n_splits=10, shuffle= True, random_state=seed) 
cv_results = model_selection.cross_val_score(model, X_train, y_train, cv=kfold, scoring='accuracy')
msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
print(cv_results)
print(msg)

[0.88888889 0.88888889 1.         0.88888889 0.77777778 1.
 1.         0.88888889 1.         1.        ]
Logistic Regression: 0.933333 (0.073703)

In [39]:
model.score(X_train, y_train)

0.9666666666666667

In [40]:
y_pred = model.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9833333333333333

In [41]:
df2 = df.loc[df['variety'] != 'Virginica']
df2

    sepal.length  sepal.width  petal.length  petal.width     variety
0            5.1          3.5           1.4          0.2      Setosa
1            4.9          3.0           1.4          0.2      Setosa
2            4.7          3.2           1.3          0.2      Setosa
3            4.6          3.1           1.5          0.2      Setosa
4            5.0          3.6           1.4          0.2      Setosa
..           ...          ...           ...          ...         ...
95           5.7          3.0           4.2          1.2  Versicolor
96           5.7          2.9           4.2          1.3  Versicolor
97           6.2          2.9           4.3          1.3  Versicolor
98           5.1          2.5           3.0          1.1  Versicolor
99           5.7          2.8           4.1          1.3  Versicolor

[100 rows x 5 columns]

In [42]:
"""
X = np.array(dataframe.drop(['clase'], 1))
y = np.array(dataframe['clase'])
X.shape
"""

"\nX = np.array(dataframe.drop(['clase'], 1))\ny = np.array(dataframe['clase'])\nX.shape\n"

In [43]:
X=  np.array(df2.drop(['variety'], 1))
y =np.array(df2['variety'])
print(X.shape)
y.shape

(100, 4)

(100,)

In [44]:
name='Logistic Regression'
kfold = model_selection.KFold(n_splits=10,shuffle= True, random_state=seed) 
cv_results = model_selection.cross_val_score(model, X_train, y_train, cv=kfold, scoring='accuracy')
msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
print(cv_results)
print(msg)

[0.88888889 0.88888889 1.         0.88888889 0.77777778 1.
 1.         0.88888889 1.         1.        ]
Logistic Regression: 0.933333 (0.073703)