# Ex2 - Getting and Knowing your Data



### Step 1. Import the necessary libraries

In [2]:
import numpy as np 
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", delimiter="\t")

### Step 4. See the first 10 entries

In [4]:
pd.DataFrame(chipo[:10])

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [41]:
chipo.shape[0]

4622

In [6]:
# Solution 1
x =pd.DataFrame(chipo)
print(x.count)

<bound method DataFrame.count of       order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]>

In [8]:
# Solution 2
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [42]:
chipo.shape[1]

8

In [10]:
len(x.columns)

5

5

### Step 7. Print the name of all the columns.

In [11]:
x.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [13]:
x.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [43]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

,order_id,quantity,item_price_float,item_price_float_replace,item_price_final
item_name,,,,,
Chicken Bowl,713926,761,7342.73,7342.73,8044.63

In [14]:
x.item_name.value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chicken Salad Bowl                       110
Chips and Fresh Tomato Salsa             110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Chips and Roasted Chili-Corn Salsa        18
Veggie Salad Bowl                         18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Carnitas Salad Bowl                        6
Burrito                                    6
Veggie Salad                               6
Steak Salad                                4
Salad                                      2
Bowl                                       2
Crispy Tacos                               2
Carnitas Salad                             1
Veggie Crispy Tacos                        1
Chips and Mild Fresh Tomato Salsa          1
Name: item_name, dtype: int64

In [9]:
chipo.groupby("item_name").agg(["sum", "mean"]).drop(columns=["order_id"]).reset_index()
#agg para sacar mas de un elemento
# si no reasignamos chipo, chipo sigue siendo lo que era, esto se puede cambiar si pones (inplace= True): esta funcion por defecto esta en false

                                item_name quantity
                                               sum      mean
0                       6 Pack Soft Drink       55  1.018519
1                           Barbacoa Bowl       66  1.000000
2                        Barbacoa Burrito       91  1.000000
3                   Barbacoa Crispy Tacos       12  1.090909
4                     Barbacoa Salad Bowl       10  1.000000
5                     Barbacoa Soft Tacos       25  1.000000
6                           Bottled Water      211  1.302469
7                                    Bowl        4  2.000000
8                                 Burrito        6  1.000000
9                             Canned Soda      126  1.211538
10                      Canned Soft Drink      351  1.166113
11                          Carnitas Bowl       71  1.044118
12                       Carnitas Burrito       60  1.016949
13                  Carnitas Crispy Tacos        8  1.142857
14                         Carnitas Salad        1  1.000000
15                    Carnitas Salad Bowl        6  1.000000
16                    Carnitas Soft Tacos       40  1.000000
17                           Chicken Bowl      761  1.048209
18                        Chicken Burrito      591  1.068716
19                   Chicken Crispy Tacos       50  1.063830
20                          Chicken Salad        9  1.000000
21                     Chicken Salad Bowl      123  1.118182
22                     Chicken Soft Tacos      120  1.043478
23                                  Chips      230  1.090047
24           Chips and Fresh Tomato Salsa      130  1.181818
25                    Chips and Guacamole      506  1.056367
26      Chips and Mild Fresh Tomato Salsa        1  1.000000
27     Chips and Roasted Chili Corn Salsa       23  1.045455
28     Chips and Roasted Chili-Corn Salsa       18  1.000000
29  Chips and Tomatillo Green Chili Salsa       45  1.046512
30    Chips and Tomatillo Red Chili Salsa       50  1.041667
31  Chips and Tomatillo-Green Chili Salsa       33  1.064516
32    Chips and Tomatillo-Red Chili Salsa       25  1.250000
33                           Crispy Tacos        2  1.000000
34                                   Izze       20  1.000000
35                       Nantucket Nectar       29  1.074074
36                                  Salad        2  1.000000
37                          Side of Chips      110  1.089109
38                             Steak Bowl      221  1.047393
39                          Steak Burrito      386  1.048913
40                     Steak Crispy Tacos       36  1.028571
41                            Steak Salad        4  1.000000
42                       Steak Salad Bowl       31  1.068966
43                       Steak Soft Tacos       56  1.018182
44                            Veggie Bowl       87  1.023529
45                         Veggie Burrito       97  1.021053
46                    Veggie Crispy Tacos        1  1.000000
47                           Veggie Salad        6  1.000000
48                      Veggie Salad Bowl       18  1.000000
49                      Veggie Soft Tacos        8  1.142857

### Step 10. For the most-ordered item, how many items were ordered?

In [15]:
chipo.groupby("item_name").agg(["sum", "mean"]).drop(columns=["order_id"]).sort_values("quantity")

ValueError: The column label 'quantity' is not unique.
For a multi-index, the label must be a tuple with elements corresponding to each level.

In [15]:
x.item_name.value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chicken Salad Bowl                       110
Chips and Fresh Tomato Salsa             110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Chips and Roasted Chili-Corn Salsa        18
Veggie Salad Bowl                         18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Carnitas Salad Bowl                        6
Burrito                                    6
Veggie Salad                               6
Steak Salad                                4
Salad                                      2
Bowl                                       2
Crispy Tacos                               2
Carnitas Salad                             1
Veggie Crispy Tacos                        1
Chips and Mild Fresh Tomato Salsa          1
Name: item_name, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [44]:
c = chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

,order_id,quantity,item_price_float,item_price_float_replace,item_price_final
choice_description,,,,,
[Diet Coke],123455,159,326.71,326.71,408.41

In [13]:
chipo.groupby("choice_description").sum().sort_values("quantity").tail(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [16]:
x.choice_description.value_counts()

[Diet Coke]                                                                                                     134
[Coke]                                                                                                          123
[Sprite]                                                                                                         77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                           42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                                40
                                                                                                               ...
[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Pinto Beans, Cheese, Sour Cream]]                     1
[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Pinto Beans, Cheese]]                                 1
[[Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Black Beans, Rice, Cheese, Lettuce]]      1
[Tomatillo Green Chili Salsa, [Fajita Vegetables, Pinto Beans, Cheese]]                                           1
[Roasted Chili Corn Salsa, [Cheese, Sour Cream]]                                                                  1
Name: choice_description, Length: 1043, dtype: int64

### Step 12. How many items were orderd in total?

In [17]:
chipo["quantity"].sum()

4972

In [54]:
number_items = x.count
number_items

<bound method DataFrame.count of       order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description  item_price
0                                                   NaN        2.39
1                                          [Clementine]        3.39
2                                               [Apple]        3.39
3                                                   NaN        2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98
...                                                 ...         ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...       11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...       11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...       11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...        8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...        8.75

[4622 rows x 5 columns]>

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [18]:
chipo["item_price"].dtypes

dtype('O')

In [20]:
type(x.item_price)

pandas.core.series.Series

#### Step 13.b. Create a lambda function and change the type of item price

In [21]:
def remove_dollar(x):
    #para evitar jaleos mejor poner un try except o similares 
    return float(x[1:1])
chipo["item_price"].apply(remove_dollar)
chipo

ValueError: could not convert string to float: ''

In [ ]:
remove_dollar = lambda x : float(x[1:-1])

In [25]:
chipo["item_price_float"]= chipo["item_price"].apply(lambda x : float(x[1:-1]))
chipo

,order_id,quantity,item_name,choice_description,item_price,item_price_float
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

In [22]:
f_13 = lambda x = float(x.item_price)

SyntaxError: invalid syntax (<ipython-input-22-5ac895dd77a3>, line 1)

In [27]:
chipo["item_price_float_replace"]=chipo["item_price"].str.replace("$", "").astype("float64")
chipo

,order_id,quantity,item_name,choice_description,item_price,item_price_float,item_price_float_replace
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,16.98
...,...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75,8.75

#### Step 13.c. Check the item price type

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [31]:
Series.sum(axis=1)

NameError: name 'Series' is not defined

In [30]:
chipo[chipo["item_name"]=="Chicken Bowl"]

,order_id,quantity,item_name,choice_description,item_price,item_price_float,item_price_float_replace
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,10.98,10.98
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25,11.25
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75,8.75,8.75
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",$8.49,8.49,8.49
...,...,...,...,...,...,...,...
4590,1825,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$11.25,11.25,11.25
4591,1825,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$8.75,8.75,8.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$8.75,8.75,8.75
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75,8.75,8.75
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75,8.75,8.75

In [37]:

chipo["item_price_final"] = chipo["item_price_float"]* chipo["quantity"]
chipo["item_price_final"].sum()

39237.02

### Step 15. How many orders were made in the period?

In [45]:
orders = chipo.order_id.value_counts().count()
orders

1834

In [39]:
n_orders = x.groupby("order_id")
len(n_orders)

NameError: name 'x' is not defined

### Step 16. What is the average revenue amount per order?

In [38]:
# Solution 1

sol1 = chipo["item_price_final"].sum()/len(n_orders)

NameError: name 'n_orders' is not defined

In [45]:
# no me sale lo mismo pero no se porque
x['item_price'] = x['item_price'].astype(float)
orders = x.groupby("order_id").sum()
orders.head()
orders["item_price"].mean()

18.811428571428568

In [46]:
# Solution 2

chipo.groupby(by=['order_id']).sum().mean()['revenue']

KeyError: 'revenue'

### Step 17. How many different items are sold?

In [47]:
n_items= x.groupby("item_name")
len(n_items)

50

In [40]:
chipo["item_name"].nunique()

50